.main {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-start {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-oro {
  background-image: linear-gradient(
    98deg,
    rgb(255, 255, 255) 0%,
    rgb(127, 182, 213) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
}

.main-oro2 {
  color: #ced6de;
  font-size: 20px;
  text-align: center;
}
.buttons-m:hover {
  border: 1px white solid;
}
.buttons-m {
  transition: all 0.2;
  background: linear-gradient(rgb(29, 49, 69) 0%, rgb(12, 33, 54) 100%);
  box-shadow: rgba(29, 49, 69, 0.25) 0px 4px 80px 0px,
    rgba(0, 0, 0, 0.25) 0px 4px 16px 0px,
    rgba(255, 255, 255, 0.05) 0px 16px 40px 0px inset,
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset;
  opacity: 1;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  border: none;
  height: 55px;
  width: 150px;
  cursor: pointer;
}
.buttons-m2 {
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  border: none;
  height: 55px;
  width: 150px;
  cursor: pointer;
}

.main-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.main2 {
  display: flex;
  padding: 0 100px;
  justify-content: space-around;
}
.blue-p1,
.blue-p2 {
  background: linear-gradient(rgb(29, 49, 69) 0%, rgb(12, 33, 54) 100%);
  box-shadow: rgba(29, 49, 69, 0.25) 0px 4px 80px 0px,
    rgba(0, 0, 0, 0.25) 0px 4px 16px 0px,
    rgba(255, 255, 255, 0.05) 0px 16px 40px 0px inset,
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset;
}
.blue-p1 {
  width: 800px;
  height: 250px;
  border-radius: 30px;
  /* background-image: linear-gradient(
    to left,
    #00a1fb,
    #0098ec,
    #008fde,
    #0287d0,
    #047ec2,
    #0079c2,
    #0075c1,
    #0070c0,
    #006ccb,
    #0068d4,
    #0062dd,
    #005be4
  ); */
}
.blue-p2 {
  width: 400px;
  height: 250px;
  border-radius: 30px;
  /* background: rgb(106, 51, 75);
  background: radial-gradient(
    circle,
    rgba(106, 51, 75, 1) 0%,
    rgba(90, 58, 90, 1) 100%
  ); */
}
.about {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  color: white;
}
.about-w {
  color: #ced6de;
  text-align: justify;
  padding: 0 25px;
  line-height: 1.6rem;
}

/* buttons styling */
/* buttons styling */
/* buttons styling */
/* buttons styling */

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 55px;
  width: 150px;
  opacity: 1;
  background-color: #ffffff;
  border: none;
}

.bn54 .bn54span {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.soocials {
  margin-top: 30px;
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.sols {
  width: 50%;
}
/* buttons styling */
/* buttons styling */
/* buttons styling */
/* buttons styling */

@media screen and (min-width: 100px) and (max-width: 299px) {
  .main {
    height: 300px;
  }
  .main-start {
    width: 100%;
  }
  .main-oro {
    font-size: 30px;
  }
  .main-oro2 {
    font-size: 14px;
    text-align: center;
  }
  .buttons-m,
  .bn54 {
    width: 100px;
    height: 50px;
    font-size: 12px;
  }
  .bn54span {
    font-size: 12px;
  }
  .main2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .about {
    font-size: 25px;
  }
  .blue-p1 {
    width: 90vw;
    height: 270px;
    border-radius: 10px;
  }
  .blue-p2 {
    width: 95vw;
    margin-top: 50px;
    border-radius: 10px;
  }
  .about-w {
    color: #ced6de;
    text-align: justify;
    padding: 0 5px;
    font-size: 12px;
    line-height: 1.4rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 340px) {
  .main-oro {
    font-size: 30px;
  }
  .main {
    height: 300px;
  }
  .main-start {
    width: 100%;
  }
  .main-oro2 {
    font-size: 16px;
    text-align: center;
  }
  .about {
    font-size: 28px;
  }
  .main2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .blue-p1 {
    width: 90vw;
    height: 260px;
  }
  .blue-p2 {
    width: 90vw;
    margin-top: 50px;
  }
  .about-w {
    color: #ced6de;
    text-align: justify;
    padding: 0 10px;
    font-size: 13px;
    line-height: 1.4rem;
  }
  .buttons-m,
  .bn54 {
    width: 120px;
    height: 55px;
    font-size: 13px;
  }
  .bn54span {
    font-size: 12px;
  }
}
@media screen and (min-width: 341px) and (max-width: 350px) {
  .main {
    height: 395px !important;
  }
}
@media screen and (min-width: 341px) and (max-width: 380px) {
  .main-oro {
    font-size: 40px;
  }
  .main {
    height: 350px;
  }
  .main-start {
    width: 100%;
  }
  .main-oro2 {
    font-size: 16px;
    text-align: center;
  }
  .about {
    font-size: 28px;
  }
  .main2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .blue-p1 {
    margin-top: 40px;
    width: 90vw;
    height: 250px;
  }
  .blue-p2 {
    width: 360px;
    margin-top: 50px;
  }
  .about-w {
    color: #ced6de;
    text-align: justify;
    padding: 0 10px;
    font-size: 13px;
    line-height: 1.4rem;
  }
  .soocials {
    width: 70%;
  }

  .sols {
    width: 60%;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .main-oro {
    font-size: 40px;
  }
  .main-oro2 {
    font-size: 16px;
    text-align: center;
  }
  .main-start {
    width: 100%;
  }
  .main {
    height: 350px;
  }
  .main2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .about {
    font-size: 28px;
  }
  .blue-p1 {
    width: 95vw;
    height: 250px;
  }
  .blue-p2 {
    width: 95vw;
    margin-top: 50px;
  }
  .about-w {
    color: #ced6de;
    text-align: justify;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.5rem;
  }
  .soocials {
    width: 70%;
  }

  .sols {
    width: 60%;
  }
}
