.foot1{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footWords{
    color: #ced6de;
    text-align: center;
    font-size: 20px;
    font-weight: 600px;
}

// general styling
@media screen and (min-width: 100px) and (max-width: 650px) {
    .foot1{

        height: 60px;
      
    }
    .footWords{
        font-size: 18px;
    }
}
// general styling


@media screen and (min-width: 100px) and (max-width: 299px) {}
@media screen and (min-width: 300px) and (max-width: 340px) {
}
@media screen and (min-width: 341px) and (max-width: 380px) {
}
@media screen and (min-width: 381px) and (max-width: 500px) {
   
}


// :root {
//     color-scheme: light dark;
//   }

// .dynamic{
//     background-color: light-dark(#fff, #272728);
//     color: light-dark(#272728, #fff);
// }