
.skills1{
    width: 100%;
}

.skills2{
display: flex;
justify-content: space-evenly;
margin-bottom: 50px;
}

.skills3{
    width: 220px;
    height: 50px;
display: flex;

}
.skillsText{
  color: #ced6de;
  font-size: 22px;
  font-weight: 600;
  margin-left: 15px;
}


@media screen and (min-width: 381px) and (max-width: 500px) {
  // .skills2{
  //  flex-wrap: wrap;

  //   }
  .skills2 {
    
    flex-wrap: wrap;

  }
    .skills3{
  //    width: 50%;
  margin-bottom: 35px;
  }

  .skills2 {
    justify-content: center; /* Center the items */
  }

  .skills3 {
    width: 45%; /* Adjust the width to fit two items per row */
    margin: 10px; /* Add margin for spacing between items */
  }
}