
.skills1{
    width: 100%;
}

.skills2{
display: flex;
justify-content: space-evenly;
margin-bottom: 50px;
}

.skills3{
    width: 220px;
    height: 50px;
display: flex;

}
.skillsText{
  color: #ced6de;
  font-size: 22px;
  font-weight: 600;
  margin-left: 15px;
}

@media screen and (min-width: 100px) and (max-width: 299px) {}
@media screen and (min-width: 300px) and (max-width: 340px) {
  .skillsText{
    color: #ced6de;
    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
  }
  .skills2 {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5vw;
  }
  .skills3{
      width: calc(50% - 20px);
      margin: 10px;
      margin-bottom: 40px;
  }
}
@media screen and (min-width: 341px) and (max-width: 380px) {
  .skillsText{
    color: #ced6de;
    font-size: 17px;
    font-weight: 500;
    margin-left: 8px;
  }
  .skills2 {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5vw;
  }
  .skills3{
      width: calc(50% - 20px);
      margin: 10px;
      margin-bottom: 40px;
  }
}

@media screen and (min-width: 381px) and (max-width: 500px) {
 
  .skills2 {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5vw;
  }
  .skills3{
      width: calc(50% - 20px);
      margin: 10px;
      margin-bottom: 40px;
  }
}