.work{
    text-align: center;
    color: #cecece;
  font-size: 35px;
}
.work0{
    background: linear-gradient(rgb(29, 49, 69) 0%, rgb(12, 33, 54) 100%);
    box-shadow: rgba(29, 49, 69, 0.25) 0px 4px 80px 0px,
      rgba(0, 0, 0, 0.25) 0px 4px 16px 0px,
      rgba(255, 255, 255, 0.05) 0px 16px 40px 0px inset,
      rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset;
      height: 620px;
      padding: 30px 0;
}
.workSplit{
    display: flex;
    // width: 100%;
    padding: 0 80px;
}
.workSplit1, .workSplit2{
    width: 50%;
}
.work2{
    color: #cecece;
font-size: 20px;
}
.contactArea0{
    margin-top: 60px;
}
.contactArea{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    // justify-content: center;
}
.contactThings{
    color: #ced6de;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
}

// general styling
@media screen and (min-width: 100px) and (max-width: 650px) {
    .workSplit{
        flex-direction: column;
        padding: 0 20px;
    }
    .workSplit1, .workSplit2{
        width: 100%;
    }
    .workSplit2{
margin-top: 30px;
    }
}
// general styling


@media screen and (min-width: 100px) and (max-width: 299px) {}
@media screen and (min-width: 300px) and (max-width: 340px) {
    .work{
        font-size: 25px;
     }
      .work2{
         font-size: 18px;
          line-height: 1.8rem;
     }
 
  .work0{
         height: 1200px;
         padding: 30px 0;
   }
   .contactThings{
    font-weight: 400;
      margin-left: 10px;
      font-size: 14px;
  }
   .workIcon{
       font-size: 40px;
   }
}
@media screen and (min-width: 341px) and (max-width: 350px) {
    .contactThings{
        font-weight: 400;
          margin-left: 20px !important;
          font-size: 16px !important;
      }
  }
@media screen and (min-width: 341px) and (max-width: 380px) {
    .contactThings{
        font-weight: 400;
          margin-left: 15px;
          font-size: 15px;
      }
    .work{
       font-size: 25px;
    }
     .work2{
        font-size: 18px;
         line-height: 1.8rem;
    }

 .work0{
        height: 1200px;
        padding: 30px 0;
  }
 
  .workIcon{
      font-size: 40px;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
 .work{
      font-size: 27px;
    }
    .work2{
    font-size: 19px;
    line-height: 1.9rem;
    }
    .work0{
          height: 1200px;
          padding: 30px 0;
    }
    .contactThings{
        margin-left: 25px;
        font-size: 18px;
    }
    .workIcon{
        font-size: 40px;
    }
}
@media screen and (min-width: 501px) and (max-width: 550px) {
    .work0{
        height: 1200px;
        padding: 30px 0;
  }
}