:root {
  color-scheme: light dark;
}

body {
  background-color: #040615;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none !important;
}
a:link,
a:visited {
  text-decoration: none; /* Optional: Remove underline */
}
